.div {
  margin: auto;
  height: 100vh;
  width: 100%;
  padding: 10px;
}

.surmmary {
  color: #8d0801;
  justify-content: center;
  font-size: 3vw;
  margin-top: 10px;
}

.header {
  margin-top: 30px;
  font-size: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8d0801;
}

/* 개발자 유형 부분 색 다르게 */
.text_under {
  position: relative;
}
.text_under::after {
  content: "";
  width: 100%;
  height: 80%;
  background: #e7cb44;
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 3px;
  z-index: -1;
}

.desc {
  /* font-size: pt; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.content_container {
  margin: 5px 15px 15px 15px; /* 상하좌우 */
  /* padding: 20px; */
}

.content {
  font-size: 2.5vw;
  margin-top: 3vw;
  color: white;
  justify-content: center;
  line-height: 1.3em;
}

/* button */
.button1 {
  width: 7vw;
  height: 4vw;
  border-radius: 30%;
  margin-top: 5vw;
  /* margin:5vw; */
  font-size: 2.5vw;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  /* vertical-align: middle; */
}

.button1:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.social_btn {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.loading {
  font-size: 5vw;
  color: white;
  margin-top: 20vw;
}
