.p {
  position: absolute;
  top: 60vh;
  left: 18vw;
  display: inline-block;
  width: auto;
  color: #adb5bd;
  /* background-color: #e7cb44; */
  font-size: 2vw;
}

@media (orientation: portrait) {
  .p {
    display: inline-block;
    width: auto;
    color: #adb5bd;
    /* background-color: #e7cb44; */
    font-size: 6vw;
    left: 31vw;
  }
}
